* {
    margin: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 140vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: radial-gradient(#eee, #ccc);
    perspective: 3000px;
}

.face {

    position: absolute;
}

.scene,
.object
{
    transform-style: preserve-3d;
    user-select: none;
}

.scene {
    width: 210px;
    height: 750px;

}

.pumpkin_head {
    width: 300px;
    height: 300px;
    transform: translate3d(460px,405px,0px);
}


.pumpkin_head .front {
    transform: rotateY(0deg) translate3d(0px, 0px, 154px);
}

.pumpkin_head .back {
    transform: rotateY(180deg) translate3d(1px, 0px, -20px);
}

.pumpkin_head .top {
    transform: rotateX(90deg) translate3d(-1px, 86px, 67px);
}

.pumpkin_head .bottom {
    transform: rotateX(-90deg) translate3d(-1px, -86px, 24px);
}

.pumpkin_head .left {
    transform: rotateY(-90deg) translate3d(88px, 0px, 67px);
}

.pumpkin_head .right {
    transform: rotateY(90deg) translate3d(-88px, 0px, 67px);
}





.pumpkin_head_2 {
    width: 20px;
    height: 20px;
    transform: translate3d(-135px,90px,193px);
}


.pumpkin_head_2 .front {
    transform: rotateY(0deg) translate3d(0px, 0px, 154px);
}

.pumpkin_head_2 .back {
    transform: rotateY(180deg) translate3d(1px, 0px, -20px);
}

.pumpkin_head_2 .top {
    transform: rotateX(90deg) translate3d(-1px, 86px, 67px);
}

.pumpkin_head_2 .bottom {
    transform: rotateX(-90deg) translate3d(-1px, -86px, 24px);
}

.pumpkin_head_2 .left {
    transform: rotateY(-90deg) translate3d(88px, 0px, 67px);
}

.pumpkin_head_2 .right {
    transform: rotateY(90deg) translate3d(-88px, 0px, 67px);
}


.pumpkin_head_2:hover{
    animation: jackomove 5s linear infinite;
    
}
  

@keyframes jackomove {
 0% {transform: translate3d(0px,0px,0px) rotateY(0px)
    translateX(0px) rotateY(0px);}
    100% { transform: rotateY(0deg) rotateX(100deg);}
    
}
    
    
.walls {
    width: 50px;
    height: 50px;
}

.pumpkin_head:hover {
    animation: pumpkin-spin 2s linear infinite;
}



@keyframes pumpkin-spin{
    0% {transform: translate3d(0px,0px,0px) rotateY(0px)
    translateX(0px) rotateY(0px);}
    100% {transform: translate3d(12px,12px,0px) rotateY(250deg)
    translateY(12px) rotateX(90deg);
    }
}
.walls .left {

    transform: rotateX(0deg)rotateX(0deg)translate3d(-271px, -418px, -230px);

}

.audio{
    transform: rotateY(0deg) translate3d(-275px, -532px, -240px);
}
.walls .back {
    transform: rotateX(90deg) translate3d(-271px, 68px, 725px);
}

.walls .floor {
    transform: rotateY(90deg)translate3d(-68px, -1630px, -570px);
    
}

.witch {
    transform: translate3d(85px,-498px,29px);
    transform-origin: 55% 50% 50px;
    
}

.witch:hover{
    animation: witch-spin 4s linear infinite;
    
}

@keyframes witch-spin {
    0% {transform: translate3d(0px,0px,0px) rotateY(0px)
    translateX(0px) rotateY(0px);}
    100% {transform: translate3d(0px,0px,0px) rotateX(25deg)
    translateY(-300px) rotateY(1000deg);
    }
}

.house {
       transform: translate3d(-270px,-436px,-80px);
      

}

.house:hover{
     animation: house-move 5s linear 3s infinite alternate;
}
@keyframes house-move{
    0%{left:0px;}
    5%{left:100px;}
    50%{left: 0px;}
    75%{left: 102px;}
    100%{left:0px; }
}




.bat {
       transform: translate3d(-195px,-394px,17px);

}




.bat2 {
       transform: translate3d(303px,-322px,100px);

}


.bat3{
    transform: translate3d(303px,-140px,277px);
}


.bat3:hover{
    animation: bat-move 4s linear infinite
}

@keyframes bat-move{
    0% {transform: translate3d(0px,0px,0px) rotateY(0px)
    translateX(0px) rotateY(0px);}
    100% {transform: translate3d(0px,0px,0px) rotateX(25deg)
    translateY(-300px) rotateY(1200deg);
    }
}

.bat2:hover{
    animation: bat-move-2 4s linear infinite
}

@keyframes bat-move-2{
    0% {transform: translate3d(0px,0px,0px) rotateY(0px)
    translateX(0px) rotateY(0px);}
    100% {transform: translate3d(0px,0px,0px) rotateX(25deg)
    translateY(-300px) rotateY(1200deg);
    }
}

.spider{
    transform: translate3d(322px,-464px,-204px);
    
}

.spider:hover{
    animation: spider-move 5s linear 3s infinite alternate;
}

@keyframes spider-move {
    0%{bottom:0px;}
    25%{bottom:100px;}
    50%{bottom: 0px;}
    75%{bottom: 100px;}
    100%{bottom:0px; }
}

